name : Go CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.22'
      - name: Build
        run: go build ./...
      - name: Test
        run: go test ./...