name : Go CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.22'
      - name: Build
        run: go build ./...
      - name: Test
        run: go test ./...
      - name: Build Docker Image
        run: |
          docker build -t udp-tool .
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name : Build and push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: adhigv7/udp-tool:latest